body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 50px;
}

.container, .results-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-right: 20px;
    margin-top: 5px;
    height: 550px;
}

#probation {
    transform: scale(1.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.results {
    margin-left: 20px;
    flex-grow: 1;
}

.results h2 {
    text-align: center;
    margin-bottom: 15px;
}

.results p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.results span {
    display: inline-block;
    vertical-align: top;
}

.results-container h2 {
    font-size: 1.5em;
    margin-top: 0;
}

.results-container p {
    font-size: 0.8em;
    margin: 5px 0;
}

.results-container table {
    margin-top: 15px;
}

#probationLabel {
    margin-right: 10px;
    white-space: nowrap;
}

#copyButton {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

#shareButton {
    background-color: #FEE500;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.button-group button {
    margin-right: 10px;
}

.button-group button:last-child {
    margin-right: 0;
}